<?xml version="1.0" encoding="UTF-8"?>
<note>
  <policy>{{ policy_number }}</policy>
  <suminsured>{{ sum_insured }}</suminsured>
  <death>{{ death_amount }}</death>
  <body>{{ thanks_note }}</body>
</note>